﻿


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title></title>
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/owl-carousel.css">
<link rel="stylesheet" href="assets/css/lightbox.css">
<script src="assets/javascript/jquery-3.4.1.js"></script>
<script src="assets/javascript/script.js"></script>
</head>
<body>
	<header>
		<ul class="top">
			<li><img class="logo" src="assets/images/logo it my.png" /></li>
			<li><i class="fa fa-car"></i>
				<div>
					<b>Miễn phí đơn vận chuyển</b> <br /> Đơn hàng từ 500k
				</div></li>
			<li><i class="fa fa-volume-control-phone"></i>
				<div>
					<b>Hỗ trợ 24/7</b> <br />Hotline: 0357018090
				</div></li>
			<li><i class="fa fa-clock-o"></i>
				<div>
					<b>Giờ làm việc</b> <br />8h00 - 17h00. Thứ 2 - Thứ 7
				</div></li>
			<li>
				<div class="gio-hang">
					<i class="fa fa-cart-plus"></i> <a href="shoppingCart">Giỏ
						hàng(0)</a>
				</div>
			</li>
		</ul>
		<div class="clear"></div>
	</header>
	<nav class="menu-main">
		<ul class="menu">
			<li class="trangchu"><a class="colorbaclk" href="#">TRANG
					CHỦ</a></li>

			<li><a href="#"> SẢN PHẨM <i class="fa fa-angle-down"></i>
			</a>
				<ul>
					<li><a href="laptop">Lap Top</a>
					<li><a href="pc">PC</a></li>
					<li><a href="phukien">Phụ Kiện</a></li>
					<li><a href="macbook">Mac Book</a></li>
				</ul></li>
			<li class="khuyenmai"><a class="" href="#">KHUYẾN MÃI</a></li>
			<li class="dichvu"><a class="" href="#">HỖ TRỢ</a></li>
			<li class="tintuc"><a class="" href="#">TIN TỨC</a></li>
			<li class="lienhe"><a class="" href="#">LIÊN HỆ</a></li>
			<li class="search"><a class="" th:href="searchProduct"><input type="text" name="name"
				placeholder="Nhập từ khóa tìm kiếm" ><button>Search</button>
			</a></li>
		</ul>
		<div class="clear"></div>
	</nav>
	<div id="main">
		<!-- trang chủ -->
		<main class="container ">
			<div class="slide">
				<img class="img-slide"
					src="assets/images/May-tinh-choi-game-PC-Gaming-THDV-GM0B-Tin-Hoc-Dai-Viet.jpg" />
			</div>
			<section class="content">

				<div class="content-left">
					<div>
						<h3>
							<span>LAP TOP</span>
						</h3>
						<div class="col">
							<div class="item" th:each="product :${listLaptop}">
								<a th:href="|/saigoncomputer/buyProduct?code=${product.id}|">
									<div>
										<img class="img-item" alt="product image"
											th:src="@{${product.fullPath}}">
									</div>
									<div class="information">
										<h5 class="name-item" th:text="${product.name}"></h5>
										<h5 class="price" th:text="@{{price}(price=${product.price})}"></h5>
										<h5 th:text="${product.type}"></h5>
										<input class="buy" type="submit" name="mua-Hang"
											value="Mua ngay"
											th:href="|/saigoncomputer/buyProduct?code=${product.id}|">
									</div>
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div>
						<h3>
							<span>PC</span>
						</h3>
						<div class="col">
							<div class="item" th:each="product :${listPc}">
								<a th:href="|/saigoncomputer/buyProduct?code=${product.id}|">
									<div>
										<img class="img-item" alt="product image"
											th:src="@{${product.fullPath}}">
									</div>
									<div class="information">
										<h5 class="name-item" th:text="${product.name}"></h5>
										<h5 class="price" th:text="@{{price}(price=${product.price})}"></h5>
										<h5 th:text="${product.type}"></h5>
										<input class="buy" type="submit" name="mua-Hang"
											value="Mua ngay"
											th:href="|/saigoncomputer/buyProduct?code=${product.id}|">
									</div>
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div>
						<h3>
							<span>PHỤ KIỆN</span>
						</h3>
						<div class="col">
							<div class="item" th:each="product :${listPhukien}">
								<a th:href="|/saigoncomputer/buyProduct?code=${product.id}|">
									<div>
										<img class="img-item" alt="product image"
											th:src="@{${product.fullPath}}">
									</div>
									<div class="information">
										<h5 class="name-item" th:text="${product.name}"></h5>
										<h5 class="price" th:text="@{{price}(price=${product.price})}"></h5>
										<h5 th:text="${product.type}"></h5>
										<input class="buy" type="submit" name="mua-Hang"
											value="Mua ngay"
											th:href="|/saigoncomputer/buyProduct?code=${product.id}|">
									</div>
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div>
						<h3>
							<span>MAC BOOK</span>
						</h3>
						<div class="col">
							<div class="item" th:each="product :${listMacbook}">
								<a th:href="|/saigoncomputer/buyProduct?code=${product.id}|">
									<div>
										<img class="img-item" alt="product image"
											th:src="@{${product.fullPath}}">
									</div>
									<div class="information">
										<h5 class="name-item" th:text="${product.name}"></h5>
										<h5 class="price" th:text="@{{price}(price=${product.price})}"></h5>
										<h5 th:text="${product.type}"></h5>
										<input class="buy" type="submit" name="mua-Hang"
											value="Mua ngay"
											th:href="|/saigoncomputer/buyProduct?code=${product.id}|">
									</div>
								</a>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="content-right">
					<div class="data-col">
						<h3>HỖ TRỢ TRỰC TIẾN</h3>
						<div class="iron-bar">
							<i class="fa fa-minus"></i> <i class="fa fa-minus"></i> <i
								class="fa fa-snowflake-o"></i> <i class="fa fa-spinner fa-mid"></i>
							<i class="fa fa-snowflake-o"></i> <i class="fa fa-minus"></i> <i
								class="fa fa-minus"></i>
						</div>
						<div class="data-item2">
							<ul>
								<li>
									<div>
										<img src="assets/images/hotrott.jpg" />
									</div>
								</li>
								<li><a href="#" class="hotline"><i class="fa fa-phone "></i>
										Hotline: 0357018090</a></li>
								<li><a href="#" class="gmail"><i
										class="fa fa-twitch icon-gmail"></i>
										Gmail:duongminhthanh1999td@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="data-col">
						<h3>SẢN PHẨM NỔI BẬT</h3>
						<div class="iron-bar">
							<i class="fa fa-minus"></i> <i class="fa fa-minus"></i> <i
								class="fa fa-snowflake-o"></i> <i class="fa fa-spinner fa-mid"></i>
							<i class="fa fa-snowflake-o"></i> <i class="fa fa-minus"></i> <i
								class="fa fa-minus"></i>
						</div>
						<div class="data-item2">
							<ul>
								<li><a href="buyProduct">
										<div class="container-product">
											<img class="product-hot"
												src="assets/images/san pham noi bat.jpg" />
										</div>
								</a></li>
								<li class="center"><a href="#" class="product-hot-name">Asus
										Zenbook UX362FA</a></li>
								<li class="center"><a href="#" class="product-hot-price">Giá:
										16.900.000đ</a></li>
							</ul>
						</div>
					</div>

				</div>
				<div class="clear"></div>
			</section>
		</main>

		<!-- khuyến mãi -->
		<main class="khuyenMai main main3 hide">
			<div class="item">
				<a href="buyProduct">
					<div class="hop">
						<img class="img-item"
							src="assets/images/khuyenmai/laptopAsus Zenbook 15 UX533FD-A9098Tkhuyenmai.png" />
					</div>
					<div class="information">
						<div class="khuyenmai">
							<img class="icon-khuyenmai" src="assets/images/khuyenmai.png" />
							<div>
								<span>Tặng phiếu mua hàng 500.000đ</span> <span>Tặng Balo
									M2 đi phượt</span> <span>Tặng ngay chuột không dây K3 Asus</span>
							</div>
						</div>
						<h5 class="name-item">Asus Zenbook 15 UX533FD-A9098T</h5>
						<h5 class="price">Giá Bán: 22.000.000đ</h5>
						<h5>Intel Core i7-8565U</h5>
						<h5>Kiểu máy phong cách thời trang,cấu hình máy tối ưu cho
							những games hot hiên nay như: LOL,FIFA,CFassets.</h5>
						<input class="buy" type="submit" name="mua-Hang" value="Mua ngay" />
					</div>
				</a>
			</div>

			<div class="item">
				<a href="buyProduct">
					<div class="hop">
						<img class="img-item"
							src="assets/images/khuyenmai/Asus ROG STRIX G G531GV-AL027 khuyenmaicopy.png" />
					</div>
					<div class="information">
						<div class="khuyenmai">
							<img class="icon-khuyenmai" src="assets/images/khuyenmai.png" />
							<div>
								<span>Tặng phiếu mua hàng 500.000đ</span> <span>Tặng Balo
									M2 đi phượt</span> <span>Tặng ngay chuột không dây K3 Asus</span>
							</div>
						</div>
						<h5 class="name-item">Asus ROG STRIX G G531GV-AL027</h5>
						<h5 class="price">Giá Bán: 28.000.000đ</h5>
						<h5>Intel Core i7-8565U</h5>
						<h5>Kiểu máy phong cách thời trang</h5>
						<h5>Pin trâu,chơi mượt mà tất cả games sinh tồn,cấu hình khá
							cao thích hợp cho các game thủ thích đi đây đi đó</h5>
						<input class="buy" type="submit" name="mua-Hang" value="Mua ngay" />
					</div>
				</a>
			</div>
		</main>
		<!-- dịch vụ -->
		<main class="dichVu main main4 hide">
			<div class="item">
				<span>CÁC BƯỚC MUA HÀNG ONLINE</span> <a href="#">
					<div class="hop">
						<img class="img-dv-hdmh"
							src="assets/images/dichvu/mua-hang-tren-website-1024x372.jpg" />
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#">
					<div class="hop">
						<img class="img-item"
							src="assets/images/dichvu/cau hoi thuong gap.jpg" />
					</div>
					<div class="information">
						<div class="khuyenmai">
							<div>
								<span>Tôi muốn mua hàng phải làm sao?</span> <span>Từ khi
									tôi mua hàng đến khi nhận hàng là bao lâu?</span> <span>Tôi
									muốn được trực tiếp xem mẫu và thử đồ trước khi mua có được
									không?</span> <span>Tôi mua hàng rồi, không vừa ý có thể
									đổi/trả lại hay không?</span> <span>assets.</span>
							</div>
						</div>

					</div>
				</a>
			</div>
			<div class="item">
				<a href="#">
					<div class="hop">
						<img class="img-dv-hdtt"
							src="assets/images/dichvu/huong dan thanh toan.png" />
					</div>
					<div class="information">

						<img class="img-dv-hdtt1" src="assets/images/dichvu/httt.jpg" />
					</div>
				</a>
			</div>

		</main>
		<!-- tin tức -->
		<main class="tinTuc main main5 hide">
			<div class="item">
				<a href="#">
					<div class="hop">
						<img class="img-item-tt"
							src="assets/images/samsung-galaxy-chromebook-2-0_800x450.jpg" />
					</div>
					<div class="information">
						<h3>'Samsung Galaxy Chromebook 2 ra mắt: Chromebook đầu tiên
							có màn hình QLED, hỗ trợ Wi-Fi 6 cực nhanh, pin 14 tiếng</h3>
						<p>Samsung hôm nay (8/1) đã ra mắt chiếc laptop Galaxy
							Chromebook 2, được xây dựng dựa trên trải nghiệm cao cấp từ thế
							hệ Galaxy Chromebook đầu tiên. Galaxy Chromebook 2 cũng là mẫu
							Chromebook đầu tiên trên thế giới đi kèm màn hình QLED. Chạy trên
							hệ điều hành Chrome OS của Google, Galaxy Chromebook 2 là một
							laptop 2-in-1, tích hợp liền mạch cả hệ sinh thái của Google và
							Galaxy. Mẫu laptop này cũng tích hợp cả trợ lý Google để người
							dùng có thể làm nhiều việc mà không cần chạm tay vào.Chromebook
							mới cũng hoạt động rất tốt với hệ sinh thái Galaxy của Samsung.
							Laptop này kết nối liền mạch với các thiết bị Samsung khác để cho
							phép bạn thực hiện cuộc gọi và gửi tin nhắn từ điện thoại, máy
							tính bảng hoặc máy tính xách tay của mình. Điểm hấp dẫn nhất của
							Galaxy Chromebook 2 là màn hình cảm ứng 13.3 inch QLED độ phân
							giải Full HD. Mọi chiếc bút cảm ứng Universal Stylus Initiative
							(USI) đều có thể được sử dụng trên màn hình này để vẽ hoặc viết
							tay. Samsung cũng đã bổ sung một bàn phím dạng lưới mới với các
							phím bấm rộng hơn và đèn nền sáng để cải thiện trải nghiệm đánh
							máy.Chromebook 2 có 2 tùy chọn vi xử lý là Intel Core i3-10110U
							hoặc Intel Celeron 5205U thế hệ thứ 10, kết hợp với RAM lên đến 8
							GB, cấu hình sẽ khác nhau tùy theo thị trường. Chromebook mới
							cũng có các tùy chọn bộ nhớ ROM 64 GB hoặc 128 GB, có khe cắm mở
							rộng microSD. Chromebook 2 được trang bị 2 loa stereo 5W với
							Smart AMP, cho trải nghiệm âm thanh lớn hơn 178% so với bộ khuếch
							đại trung bình. Các tùy chọn kết nối bao gồm Wi-Fi 6 cực nhanh và
							Bluetooth 5.0. Ngoài ra, Chromebook 2 còn có pin 45.5 Wh, hứa hẹn
							cung cấp thời lượng pin lên đến 14 tiếng. Máy dày 13.9 mm, có 2
							màu sắc là Fiesta Red và Mercury Grey. Tuy nhiên giá bán vẫn chưa
							được tiết lộ.</p>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#">
					<div class="hop">
						<img class="img-item-tt"
							src="assets/images/photo-2-1610359578439144120188.jpg" />
					</div>
					<div class="information">
						<h3>Giải mã Radeon ™ RX 5000 – Thế hệ card “quốc dân” tiếp
							theo dành cho gaming từ nhà AMD</h3>
						<p>Được cho là thế hệ rất đặc biệt được trang bị hàng loạt các
							tính năng công nghệ tiên tiến nhất trên thế giới, điểm mấu chốt
							của dòng GPU này chính là Kiến trúc RDNA, hay còn được gọi là tầm
							nhìn RDNA, khi nhà AMD đã dành 4 năm liên tục để tạo nên với mục
							tiêu hướng tới thế hệ kiến trúc đồ hoạ mới.RX 5000 với Kiến trúc
							RDNA là dòng GPU chiến lược mới của nhà AMD cho các game thủ tầm
							trung Trên thế hệ kiến trúc mới – RDNA đã có rất nhiều thay đổi
							đáng chú ý để cải thiện hiệu suất để GPU có thể hoạt động hiệu
							quả hơn, bền bỉ hơn và ít tỏa nhiệt hơn với bộ nhớ đệm đa tầng và
							ống xử lí đồ hoạ sắp xếp hợp lý. Cụ thể, với RDNA, những điểm
							sáng của dòng RX 5000 bao gồm: tiến trình 7nm, dung lượng bộ nhớ
							16GB chuẩn GDDR6 nhân đôi băng thông so với GDDR5, bộ đôi Radeon
							Media Engine và Radeon Display Engine giúp tốc độ mã hoá, giải mã
							video cao hơn, kèm theo hỗ trợ DSC hạn chế tối đa giật, xé màn
							hình mang đến cho các game thủ trải nghiệm chơi game mượt mà và
							đa dạng với các thể loại game đòi hỏi các cấu hình nặng với độ
							phức tạp khác nhau. Một số ví dụ điển hình cho cấu hình mạnh mẽ
							và hiệu năng tối ưu đang được các game thủ đặc biệt yêu thích của
							dòng RX 5000: • Dòng RX 5000M… • Radeon RX 5500 XT – lựa chọn tốt
							nhất cho PC tầm trung để chiến mọi game eSport với hiệu năng cao
							và không cần nâng cấp card trong thời gian dài. • Radeon RX 5600
							– sự lựa chọn hợp lý cho game thủ khi có thể cân tốt hầu hết các
							tựa game AAA với trải nghiệm Ray-tracing và mức FPS cao đối với
							game eSport, giúp các gamer có thể tận dụng tối đa màn hình 144Hz
							để chiến game mượt mà trên các máy đã khá phổ biến hiện nay. •
							Radeon RX 5700 cho trải nghiệm hình ảnh ở độ phân giải 2K •
							Radeon RX 5700 XT cho trải nghiệm toàn diện dành cho game eSport
							với mức FPS giúp tối ưu 2K max và 4K medium setting , chơi game
							AAA không cần chỉnh thiết lập hay có thể nói là lựa chọn hàng đầu
							và lâu dài cho các game thủ max setting ở FullHD Bên cạnh đó,
							Radeon Anti-lag cũng là một công nghệ then chốt của dòng GPU RX
							5000 giúp mang lại trải nghiệm game ổn định tối đa cho game thủ
							khi có thể giúp giảm input lag (độ trễ đầu vào) lên đến 31%.
							Tuyển thủ Tim của đội tuyển eSport Fnatic đã chia sẻ, công nghệ
							Radeon Anti-Lag đã hỗ trợ anh rất nhiều trong việc giành chiến
							thắng với tốc độ phản hồi siêu nhanh trên từng cú click chuột.

							Bravo 17 và Radeon RX 5000 – Cùng nhau tăng cường sức mạnh cho
							dòng máy game tầm trung Tiếp nối sự thành công từ các dòng máy
							tiền nhiệm, laptop MSI Bravo 17 đã được ra mắt trong năm nay với
							việc thừa hửơng sức mạnh GPU đến từ AMD RX 5500M 4GB GDDR6. Ngoài
							việc duy trì hiệu suất từ card đồ họa của AMD, CPU của Bravo 17
							cũng được trang bị vi xử lý AMD Ryzen 5 4600H 6 nhân 12 luồng cho
							khả năng xử lý đa nhiệm mạnh mẽ. Sự kết hợp giữa CPU và GPU 7nm
							đến từ AMD hứa hẹn sẽ mang đến cho các game thủ trải nghiệm đa
							phương tiện và chơi game với hiệu suất cao hơn rất nhiều so với
							thế hệ trước. Nếu như AMD đóng vai trò hàng đầu trong thị trường
							phần cứng game di động, MSI tự hào là nhà sản xuất laptop chuyên
							game với công nghệ tản nhiệt hàng đầu, luôn trang bị cho sản phẩm
							của mình thiết kế và các giải pháp làm mát tối ưu nhất. Với công
							nghệ Cooler Boost 5, MSI Bravo 17 sở hữu bên trong thân máy đến 7
							ống đồng và 2 quạt để giải nhiệt cho cả CPU lẫn GPU. Chúng hoạt
							động một cách hài hòa bằng cách giảm thiểu nhiệt và tối ưu hoá
							luồng gió để có hiệu suất chơi game mượt mà trong khung máy nhỏ
							gọn.</p>
					</div>
				</a>
			</div>

		</main>
		<!-- liên hệ -->
		<main class="lienHe main main6 hide">
			<div class="item">
				<a href="#">
					<div class="hop">
						<img class="img-item-tt" src="assets/images/hotrott.jpg" />
					</div>
					<div class="information">
						<h3>
							<i class="fa fa-phone "></i> Hotline: 0388852043
						</h3>
						<h3>
							<i class="fa fa-skype"></i>Skype: 0388852043
						</h3>
						<h3>
							<i class="fa fa-twitch icon-gmail"></i>Gmail:zkazjng@gmail.com
						</h3>
					</div>
				</a>
			</div>

		</main>
	</div>
	<footer class="footer">
		<div class="footer-login">
			<h3>WEB CHUYÊN BÁN LAP,PC ,PHỤ KIỆN MÁY TÍNH PHỤC VỤ MỌI NHU CẦU</h3>
			<a href="register"><input
				class="footer-registration" type="submit" name="name"
				value="ĐĂNG KÝ" /></a>
			<a href="login"><input
				class="footer-registration" type="submit" name="name"
				value="ĐĂNG NHẬP" /></a>
		</div>
		<div class="footer-menu">
			<a href="laptop">Lap Top</a> <a href="pc">PC </a> <a href="phukienl">Phụ
				Kiện</a> <a href="macbook">MacBook </a>
		</div>
		<ul class="footer-address">
			<li>
				<h4>THÔNG TIN LIÊN HỆ</h4>
				<ul>
					<li><a href="#">Số điện thoại: 0357018090</a></li>
					<li><a class="p5" href="#">Hotline: 0357018090</a></li>
					<li><a class="p5" href="#">Website: Sẽ có trong tương lai</a>
					</li>
				</ul>


			</li>
			<li>
				<h4>QUY ĐỊNH - CHÍNH SÁCH</h4>
				<ul>
					<li><a href="#">Chính sách bảo mật</a></li>
					<li><a href="#">Chính sách sửa chửa</a></li>
					<li><a href="#"> Chính sách ưu đãi</a></li>
				</ul>
			</li>
			<li>
				<h4>CHĂM SÓC KHÁCH HÀNG</h4>
				<ul>
					<li><a class="p5" href="#">Câu hỏi thường gặp</a></li>
					<li><a class="p5" href="#"> Hướng dẫn thanh toán</a></li>
					<li><a class="p5" href="#">Hướng dẫn mua hàng online</a></li>
				</ul>
			</li>
			<li>
				<h4>LIÊN KẾT FACEBOOK</h4> <img class="img-footer-facebook"
				src="assets/images/lkfacebook.jpg" />
			</li>
		</ul>
		<div class="clear"></div>

	</footer>
</body>
</html>