<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shopping Cart Confirmation</title>
<link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
	<div class="page-title">Confirmation</div>
	<div class="customer-info-container">
		<h3>Customer Information:</h3>
		<ul>
			<li>Name: <span th:utext="${myCart.shipInfo.name}"></span></li>
			<li>Email: <span th:utext="${myCart.shipInfo.email}"></span></li>
			<li>Phone: <span th:utext="${myCart.shipInfo.phone}"></span></li>
			<li>Address: <span th:utext="${myCart.shipInfo.address}"></span></li>
		</ul>
		<h3>Cart Summary:</h3>
		<ul>
			<li>Quantity: <span th:utext="${myCart.quantityTotal}"></span>
			</li>
			<li>Total: <span class="total"
				th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}">
			</span>
			</li>
		</ul>
	</div>
	<form method="POST" th:action="@{/shoppingCartConfirmation}">
		<!-- Edit Cart -->
		<a class="navi-item" th:href="@{/shoppingCart}"> Edit Cart </a>
		<!-- Edit Customer Info -->
		<a class="navi-item" th:href="@{/shoppingCartShipInfo}"> Edit
			Customer Info </a>
		<!-- Send/Save -->
		<input type="submit" value="Send" class="button-send-sc" />
	</form>
	<div class="container">
		<div class="product-preview-container"
			th:each="cartLineInfo : ${myCart.cartLines}">
			<ul>
				<li><img class="product-image" alt="product image"
					th:src="@{${cartLineInfo.product.fullPath}}"
					src="@{|/productImage?code=${cartLineInfo.product.id}|}" /></li>
				<li>Code: <span th:utext="${cartLineInfo.product.id}"></span> <input
					type="hidden" name="code" th:value="${cartLineInfo.product.id}" />
				</li>
				<li>Name: <span th:utext="${cartLineInfo.product.name}"></span></li>
				<li>Price: <span class="price"
					th:utext="${#numbers.formatDecimal(cartLineInfo.product.price,3,2,'COMMA')}">
				</span>
				</li>
				<li>Quantity: <span th:utext="${cartLineInfo.quantity}"></span></li>
				<li>Subtotal: <span class="subtotal"
					th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
				</span>
				</li>
			</ul>
		</div>
	</div>

</body>
</html>