<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Shopping Cart</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body> 
      <div class="page-title">My Cart</div>
       
      <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
         <h2>There is no items in Cart</h2>
         <a th:href="@{/}">Home Page</a>
      </th:block>
       
      <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
         <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
          
               <div class="product-preview-container"
                        th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                  <ul>
                     <li><img class="product-image"/>
                     </li>
                     <li>Code: <span th:utext="${cartLineInfo.product.id}"></span>
                        <input type="hidden"      
                           th:name="|cartLines[${varStatus.index}].product.id|"                       
                           th:value="${cartLineInfo.product.id}" />
                     </li>
                     <li>Name: <span th:utext="${cartLineInfo.product.name}"></span></li>
                     <li>Price:
                        <span class="price"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.product.price,3,2,'COMMA')}">
                        </span>
                     </li>
                     <li>Quantity:
                        <input
                            th:name="|cartLines[${varStatus.index}].quantity|"
                            th:value="${cartLineInfo.quantity}" />
                     </li>
                     <li>Subtotal:
                        <span class="subtotal"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                        </span>
                     </li>
                     <li>
                        <a th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.product.id}|}">
                        Delete
                        </a>
                     </li>
                  </ul>
               </div>
             
            <div style="clear: both"></div>
            <input class="button-update-sc" type="submit" value="Update Quantity" />
            <a class="navi-item"
               th:href="@{/shoppingCartShipInfo}">Enter Ship Info</a>
            <a class="navi-item"
               th:href="@{/}">Continue Buy</a>
         </form>
      </th:block>
       
   </body>
</html>