<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Saigoncomputer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<table data-vertable="ver1">
						<thead>
							<tr class="row100 head">
								<!-- <th class="column100 column1" data-column="column1">Món</th>
								<th class="column100 column2" data-column="column2">Loại</th>
								<th class="column100 column3" data-column="column3">Giá</th> -->
								<th><a
									th:href="@{'/page/' + ${currentPage} + '?sortName=name&direction=' + ${invertDirection}}">Món</a>
								</th>
								<th><a
									th:href="@{'/page/' + ${currentPage} + '?sortName=brand&direction=' + ${invertDirection}}">Loại</a>
								</th>
								<th><a
									th:href="@{'/page/' + ${currentPage} + '?sortName=price&direction=' + ${invertDirection}}">Giá</a>
								</th>
								<th class="column100 column3" data-column="column3">Hình</th>
								<th class="column100 column4" data-column="column4">Cập
									nhật</th>
								<th class="column100 column5" data-column="column5">Xóa</th>
							</tr>
						</thead>
						<tbody>
							<tr class="row100" th:each="product : ${listProduct}">
								<td class="column100 column1" data-column="column1"
									th:text="${product.name}">Món</td>
								<td class="column100 column2" data-column="column2"
									th:text="${product.type}">Loại</td>
								<td class="column100 column3" data-column="column3"
									th:text="${product.price}">Giá</td>
								<td><img style="width: 200px; height: 200px"
									alt="product image" th:src="@{${product.fullPath}}"></td>
								<td class="column100 column4" data-column="column4"><a
									th:href="@{/edit_product/{id}(id=${product.id})}">Cập nhật</a></td>
								<td class="column100 column5" data-column="column5"><a
									th:href="@{/delete/{id}(id=${product.id})}">Xóa</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:if="${totalPages > 1}">
					Tổng số sản phẩm: [[${totalItems}]]
					&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; <a th:if="${currentPage > 1}"
						th:href="@{'/page/1' + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">Trang
						đầu</a> <span th:unless="${currentPage > 1}">Trang đầu</span>
					&nbsp;&nbsp; <a th:if="${currentPage > 1}"
						th:href="@{'/page/' + ${currentPage - 1} + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">Trang
						trước</a> <span th:unless="${currentPage > 1}">Trang trước</span>
					&nbsp;&nbsp; <span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i} + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
					</span> <a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${currentPage + 1} + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">Trang
						kế</a> <span th:unless="${currentPage < totalPages}">Trang kế</span>
					&nbsp;&nbsp; <a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${totalPages} + '?sortName=' + ${sortName} + '&direction=' + ${direction}}">Trang
						cuối</a> <span th:unless="${currentPage < totalPages}">Trang
						cuối</span>
				</div>
				<a href="new_product">Thêm sản phẩm</a>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>